{% extends 'base.html' %}

{% block head %} 
<Title>To-do List</Title>
{% endblock %}

{% block body %} 

<div class="To-do-content">
    <h1>To-do List</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="To-do-content" id="To-do-content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>


</div>

{% endblock %}