{% extends 'base.html' %}

{% block head %} 
<Title>To-do List</Title>
{% endblock %}

{% block body %} 

<div class="container-fluid To-do-content-container text-center">
    <h1 class="mt-3 mb-3 text-center" style="text-align: center">To-do List</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table class="mx-auto">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <button type="button" class="btn btn-warning" 
                        onclick="location.href='/update/{{ task.id }}'">Update
                    </button>

                    <button type="button" class="btn btn-danger"
                        onclick="location.href='/delete/{{task.id}}'">Delete
                    </button>
                    

                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="{{url_for('TodoList')}}" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add Task" class="btn btn-primary">
        </form>
        
    </div>


</div>

{% endblock %}