{% extends 'base.html' %}

{% block head %} 
<Title>To-do List</Title>
{% endblock %}

{% block body %} 

<div class="To-do-content-container">
    <h1>To-do List</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="form">
        <form action="{{url_for('TodoList')}}" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add Task">
        </form>
        
    </div>


</div>

{% endblock %}